<!-- Канвас для анимации фона -->
<canvas class="animate-canvas" id="c"></canvas>

<!-- Разметка для анимации картинки -->
<div class="m-image">
    <div class="m-image__bar m-image__bar--animated flipInY animated">
      <div class="m-image__bar-image"></div>
    </div>

    <div class="m-image__bar m-image__bar--animated flipInY animated">
      <div class="m-image__bar-image"></div>
    </div>

    <div class="m-image__bar m-image__bar--animated flipInY animated">
      <div class="m-image__bar-image"></div>
    </div>

    <div class="m-image__bar m-image__bar--animated flipInY animated">
      <div class="m-image__bar-image"></div>
    </div>

    <div class="m-image__bar m-image__bar--animated flipInY animated">
      <div class="m-image__bar-image"></div>
    </div>

    <div class="m-image__bar m-image__bar--animated flipInY animated">
      <div class="m-image__bar-image"></div>
    </div>

    <div class="m-image__bar m-image__bar--animated flipInY animated">
      <div class="m-image__bar-image"></div>
    </div>

    <div class="m-image__bar m-image__bar--animated flipInY animated">
      <div class="m-image__bar-image"></div>
    </div>
  </div>