<nav class="main-nav">
    <ul class="main-nav__list js-mobile-menu">

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link animate-link --black"><span>О КОМПАНИИ</span></a>
        </li>

        <li class="main-nav__item hover-item animate-link --black">
            <a href="#" class="main-nav__link">УСЛУГИ</a>

            <ul class="main-nav__submenu show-menu">

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink current">Уровень меню 2</a>

                    <ul class="main-nav__submenu show-menu">

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>
                        </li>

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>
                        </li>

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>
                        </li>

                    </ul>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

            </ul>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link animate-link --black"><span> ОБОРУДОВАНИЕ</span></a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link animate-link --black"><span>ПРОЕКТЫ</span> </a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link animate-link --black"><span>НОВОСТИ</span> </a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link animate-link --black"><span>КОНТАКТЫ</span> </a>
        </li>

    </ul>
</nav>